@media (min-width: 768px) {
  .catalog-list__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px;
  }
  }

  @media (min-width: 1300px) {
  .catalog-list__container {
      grid-template-columns: repeat(4, 1fr);
      -moz-column-gap: 80px;
      column-gap: 80px;
      row-gap: 64px;
  }
  }
