.developer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #444444;
    font-size: 16px;
    text-decoration: none;
}
.developer__image {
    color: #666666;
}
