.form__group {
  margin: 0;
}
@media (min-width: 1300px) {
.form__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 80px;
  column-gap: 80px;
}
}





.form__additional {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
