.offer {
    padding: 40px;
    background-image: url(../img/background/catbag.jpg);
    color: #ffffff;
    background-color: #68b738;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
