.show-more__heading {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.show-more__text {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}
