.site-menu {
    padding: 0;
    list-style-type: none;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}
@media (min-width: 768px) {
.site-menu {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
}
}
@media (min-width: 768px) {
  site-menu__item {
        margin-right: 33px;
    }
}
@media (min-width: 768px) {
  .site-menu__link:last-shild {
        margin-right: 0;
    }
}
.site-menu__link {
    color: #000000;
    text-decoration: none;
}
@media (min-width: 1300px) {
.site-menu--main .site-menuu__link {
    color: #ffffff;
}
}
